# ----------- Python --------------
# forked settings from here using basedpyright with homebrew https://github.com/helix-editor/helix/wiki/Language-Server-Configurations#pyright--ruff
# MacOS brew install basedpyright ruff
[[language]]
name = "python"
language-servers = ["basedpyright", "ruff"]
formatter = { command = "ruff", args = ["format", "-"] }
auto-format = true

[language-server.basedpyright.config.python.analysis]
typeCheckingMode = "basic"

# if you choose `ruff` itself
[language-server.ruff]
command = "ruff"
args = ["server"]

[language.debugger]
name = "debugpy"
transport = "stdio"
command = "python3"
args = ["-m", "debugpy.adapter"]

[[language.debugger.templates]]
name = "source"
request = "launch"
completion = [{ name = "entrypoint", completion = "filename", default = "." }]
args = { mode = "debug", program = "{0}" }

# ----------- TOML --------------
# MacOS: brew install taplo
#### taplo for toml - doesn't really seem to work, i should remove this
[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }

[language-server.taplo.config]
# Workaround for nonsense of being nonfunctional outside git directories
# (https://github.com/helix-editor/helix/issues/3897#issuecomment-2361674437)
root_dir = [".git", "*.toml"]


# ----------- TS/JS --------------
# MacOS: npm install -g typescript typescript-language-server @biomejs/biome
# extended from: https://biomejs.dev/guides/editors/third-party-extensions/#helix
[language-server]
biome = { command = "biome", args = ["lsp-proxy"] }

[[language]]
name = "javascript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]
auto-format = true

[[language]]
name = "typescript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "deno-lsp",
]
auto-format = true
shebangs = ["deno"]
roots = ["deno.json", "deno.jsonc", "package.json"]

[[language]]
name = "tsx"
auto-format = true
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]

[[language]]
name = "jsx"
auto-format = true
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]

[[language]]
name = "json"
language-servers = [
  { name = "vscode-json-language-server", except-features = [
    "format",
  ] },
  "biome",
]
formatter = { command = 'biome', args = [
  "format",
  "--stdin-file-path",
  "buffer.json",
] }

# JSONC config 
[[language]]
name = "json"
language-servers = [
  { name = "vscode-json-language-server", except-features = [
    "format",
  ] },
  "biome",
]
formatter = { command = 'biome', args = [
  "format",
  "--stdin-file-path",
  "buffer.jsonc",
] }

## Deno specific configs
[language-server.deno-lsp]
command = "deno"
args = ["lsp"]

[language-server.deno-lsp.config.deno]
enable = true
unstable = true
suggest.imports.hosts = { "https://deno.land" = true }
inlayHints.parameterNames.enabled = "all"
inlayHints.parameterTypes.enabled = true
inlayHints.variableTypes.enabled = true
inlayHints.propertyDeclarationTypes.enabled = true
inlayHints.functionLikeReturnTypes.enabled = true
inlayHints.enumMemberValues.enabled = true


# ----------- Markdown --------------
# MacOS: brew install marksman && cargo install --git https://github.com/euclio/mdpls
# mdpls as markdown preview lsp: https://github.com/euclio/mdpls?tab=readme-ov-file
# source: https://github.com/helix-editor/helix/issues/2824#issuecomment-1840752115
[[language]]
name = "markdown"
soft-wrap.enable = true
text-width = 80
soft-wrap.wrap-at-text-width = true
language-servers = ["marksman", "mdpls", "harper-ls"]
# followed formatter setup from here: https://medium.com/@CaffeineForCode/helix-setup-for-markdown-b29d9891a812
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
auto-format = true
rulers = [120]

[language-server.mdpls]
command = "/Users/yash/.cargo/bin/mdpls"
config = { markdown.preview.auto = true }

# ----------- Harper --------------
# MacOS: brew install harper 
# Until spellcheck has first class support with spellbook: https://github.com/helix-editor/helix/issues/11660 Harper is the best alternative.
# Documentation: https://writewithharper.com/docs/integrations/helix
[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.harper-ls.config.harper-ls]
diagnosticSeverity = "warning"

# ----------- Harper --------------
# MacOS: npm i -g bash-language-server
[[language]]
name = "bash"
file-types = [
  "config",
  "sh",
  "bash",
  "zsh",
  ".bash_login",
  ".bash_logout",
  ".bash_profile",
  ".bashrc",
  ".profile",
  ".zshenv",
  ".zlogin",
  ".zlogout",
  ".zprofile",
  ".zshrc",
  "APKBUILD",
  "PKGBUILD",
  "eclass",
  "ebuild",
  "bazelrc",
  ".bash_aliases",
  ".yashrc",
]


# ----------- Terraform --------------
# MacOS: brew install hashicorp/tap/terraform-ls
[[language]]
name = "hcl"
language-servers = ["terraform-ls"]
language-id = "terraform"
formatter = { command = "tofu", args = ["fmt", "-"] }
auto-format = true

[[language]]
name = "tfvars"
language-servers = ["terraform-ls"]
language-id = "terraform-vars"

[language-server.terraform-ls]
command = "terraform-ls"
args = ["serve"]

# ----------- Go --------------
# MacOS brew install go
[[language]]
name = "go"
roots = ["go.mod"]
auto-format = true
comment-token = "//"
language-servers = ["gopls", "golanci-lint-lsp"]
formatter = { command = "goimports" }

[language-server.golangci-lint-lsp]
command = "golangci-lint-langserver"

[language-server.golangci-lint-lsp.config]
command = [
  "golangci-lint",
  "run",
  "--out-format",
  "json",
  "--issues-exit-code=1",
]
